# manually installed later:
#ale-python-interface==0.0.1
#tensorflow==0.9.0
alabaster
arch
argcomplete
Babel
backports.shutil-get-terminal-size
blosc
CommonMark
cycler==0.10.0
dask==0.11.0
decorator==4.0.10
descartes
docutils==0.12
ete3==3.0.0b35
filterpy==0.1.3
humanize==0.5.1
imagesize==0.7.1
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
Jinja2==2.8
jsonschema==2.5.1
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-core
jupyter-nbextensions-configurator
Markdown
MarkupSafe==0.23
matplotlib
mistune
mpld3==0.2
mpmath==0.19
nbconvert
nbformat
networkx==1.11
notebook
numpy
pandas
patsy
pexpect==4.0.1
pickleshare
Pillow==3.3.1
prompt-toolkit
protobuf
ptyprocess==0.5.1
Pygments
pyparsing==2.1.4
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
recommonmark
requests
scikit-image
scikit-learn
scipy
seaborn==0.7.1
simplegeneric
six==1.10.0
snowballstemmer==1.2.1
Sphinx
sphinx-rtd-theme==0.1.9
statsmodels
sympy==1.0
terminado==0.6
toolz==0.8.0
tornado==4.3
tqdm==4.7.6
traitlets
wcwidth
widgetsnbextension==1.2.6
